name: CI

on:
  pull_request:
    branches: ["main"]

# for cancelling redundant runs
concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build-type: [Release, FullDebug]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "20"
          
      - name: Install Boost Test
        run: sudo apt-get install -y libboost-test-dev

      - name: Build
        run: |
          cmake --preset linux -DQUESO_BUILD_TESTING=ON -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -DCMAKE_CXX_FLAGS="-Og"
          cmake --build --preset linux --target install

      - name: Install Python dependencies
        run: |
          pip3 install numpy scipy

      - name: Test py
        run: |
          ./out/build/linux/bin/run_tests py

      - name: Test cpp
        run: ./out/build/linux/bin/run_tests cpp

  windows:
    runs-on: windows-2022
    env:
      QUESO_BUILD_TYPE: Release

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "20"

      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Setup vcpkg
        run: |
          git clone https://github.com/Microsoft/vcpkg.git
          cd vcpkg
          .\bootstrap-vcpkg.bat
        shell: pwsh

      - name: Cache vcpkg packages
        uses: actions/cache@v3
        with:
          path: |
            vcpkg/installed
            vcpkg/packages
          key: ${{ runner.os }}-vcpkg-${{ hashFiles('**/vcpkg.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-

      - name: Install Boost Test
        run: |
          cd vcpkg
          .\vcpkg install boost-test:x64-windows
        shell: pwsh

      - name: Build
        run: |
          cmake --preset win -DQUESO_BUILD_TESTING=ON -DBoost_ROOT="${{ github.workspace }}/vcpkg/installed/x64-windows"
          cmake --build --preset win --target install

      - name: Install Python dependencies
        run: |
          pip install numpy scipy

      - name: Test py
        run: out/build/win/bin/run_tests.cmd py

      - name: Test cpp
        run: out/build/win/bin/run_tests.cmd cpp
        env:
          PATH: ${{ env.PATH }};${{ github.workspace }}\vcpkg\installed\x64-windows\bin
